* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #05010b;
    color: white;
    font-family: "Orbitron", sans-serif;
    overflow-x: hidden;
}

canvas {
    display: block;
}

a {
    color: inherit;
}